@import "../../../styles/vaiables.scss";

.ng-valid,
.ng-valid.required {
  border-color: $success-color;
}

.ng-pristine.ng-invalid {
    border-color: inherit;
}

.ng-invalid:not(form)
 {
  border-color: $error-color;
}
