<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>First Name <span class="text-danger">*</span>:</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': isSubmitted && firstNameCtrl.errors }" />
                    <div *ngIf="isSubmitted && firstNameCtrl.errors">
                        <div class="text-danger" *ngIf="firstNameCtrl.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name <span class="text-danger">*</span>:</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': isSubmitted && lastNameCtrl.errors }" />
                    <div *ngIf="isSubmitted && lastNameCtrl.errors">
                        <div class="text-danger" *ngIf="lastNameCtrl.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email Address <span class="text-danger">*</span>:</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': isSubmitted && emailCtrl.errors }" />
                    <div *ngIf="isSubmitted && emailCtrl.errors">
                        <div class="text-danger" *ngIf="emailCtrl.errors.required">Email Address is required</div>
                        <div class="text-danger" *ngIf="emailCtrl.errors.pattern">Email Address is not valid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password <span class="text-danger">*</span>:</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': isSubmitted && passwordCtrl.errors }" />
                    <div *ngIf="isSubmitted && passwordCtrl.errors">
                        <div class="text-danger" *ngIf="passwordCtrl.errors.required">Password is required</div>
                        <div class="text-danger" *ngIf="passwordCtrl.errors.minlength">Password must be at least 8
                            characters</div>
                        <div class="text-danger" *ngIf="passwordCtrl.errors.pattern"> Password should contain lower and
                            uppercase letters</div>
                        <div class="text-danger" *ngIf="passwordCtrl.errors.passwordNameValidity">Password must not
                            contain your first name or last name </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="isLoading">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>